---
import { BottomHero } from '../components/BottomHero';
import { Cards } from '../components/Cards';
import { ModalBtn } from '../components/ModalBtn';
import { SignUpModal } from '../components/SignUpModal';
import { Steps } from '../components/Steps';
import { TopHero } from '../components/TopHero';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Meal planning and grocery shopping made easy | Mealso">
	<main>
		<TopHero>
			<ModalBtn client:load />
		</TopHero>
		<Steps />
		<Cards />
		<SignUpModal client:load />
		<BottomHero>
			<ModalBtn client:load />
		</BottomHero>
	</main>
</Layout>
