---
import { Hero } from '../components/Hero';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Meal planning and grocery shopping made easy | Mealso">
	<main>
		<Hero />
	</main>
</Layout>
