---
import { Cards } from '../components/Cards';
import { Hero } from '../components/Hero';
import { Steps } from '../components/Steps';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Meal planning and grocery shopping made easy | Mealso">
	<main>
		<Hero />
		<Steps />
		<Cards />
	</main>
</Layout>
